### API do Banco Central

https://dadosabertos.bcb.gov.br/dataset?res_format=API

In [6]:
import requests
import pprint

link = "https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=100000&$orderby=Data%20desc&$format=json"

requisicao = requests.get(link)
info = requisicao.json()
# pprint.pprint(info)

In [2]:
import pandas as pd

tabela = pd.DataFrame(info['value'])
# tabela['Quantidade'] = tabela['Quantidade'].map('{:,}'.format)
display(tabela)

             Data  Quantidade         Valor Denominacao  Especie
0      2023-04-27  3191005234  3.191005e+07        0.01   Moedas
1      2023-04-27  7626498669  3.813249e+08        0.05   Moedas
2      2023-04-27  7827846320  7.827846e+08        0.10   Moedas
3      2023-04-27  3493186355  8.732966e+08        0.25   Moedas
4      2023-04-27  3539154156  1.769577e+09        0.50   Moedas
...           ...         ...           ...         ...      ...
90146  1994-10-03   181609358  1.816094e+08        1.00   Moedas
90147  1994-10-03   252922174  1.264611e+09        5.00  Cédulas
90148  1994-10-03   273630983  2.736310e+09       10.00  Cédulas
90149  1994-10-03    28945486  1.447274e+09       50.00  Cédulas
90150  1994-10-03     2841789  2.841789e+08      100.00  Cédulas

[90151 rows x 5 columns]

In [7]:
# pegar todas as informações com várias requisições

tabela_final = pd.DataFrame()
pular_indice = 0

while True:
    link = f"https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$skip={pular_indice}&$orderby=Data%20asc&$format=json"
    requisicao = requests.get(link)
    info = requisicao.json()
    tabela = pd.DataFrame(info['value'])
    if len(info['value']) < 1:
        break
    tabela_final = pd.concat([tabela_final, tabela])
    pular_indice += 10000
    
display(tabela_final)

           Data  Quantidade         Valor Denominacao  Especie
0    1994-10-03   692701959  6.927020e+06        0.01   Moedas
1    1994-10-03   462277579  2.311388e+07        0.05   Moedas
2    1994-10-03   404559065  4.045591e+07        0.10   Moedas
3    1994-10-03     1492870  3.732175e+05        0.25   Moedas
4    1994-10-03   278901842  1.394509e+08        0.50   Moedas
..          ...         ...           ...         ...      ...
146  2023-04-27   607698870  6.076989e+09       10.00  Cédulas
147  2023-04-27   707684900  1.415370e+10       20.00  Cédulas
148  2023-04-27  1791443196  8.957216e+10       50.00  Cédulas
149  2023-04-27  1781031426  1.781031e+11      100.00  Cédulas
150  2023-04-27   124521252  2.490425e+10      200.00  Cédulas

[90151 rows x 5 columns]

In [4]:
link = "https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$skip=100000&$orderby=Data%20asc&$format=json"
requisicao = requests.get(link)
info = requisicao.json()
print(info)

{'@odata.context': 'https://was-p.bcnet.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata$metadata#informacoes_diarias', 'value': []}